
* {
  box-sizing: border-box;
  font-family: "Proxima Nova",Roboto,system-ui,Tahoma,sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
}

body {
  background-color: darkseagreen;
}

a {
  text-decoration: none;
  color:black
}
